body {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 500;
    padding-top: 8vw;
    font-size: 65%;
    background-color: #f1f1f1;
}



header {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    width: 100%;
    height: 10vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #f1f1f1;
    left: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

nav li {
    display: inline-block;
    min-width: 90px;
}

.sns li {
    width: auto;
    padding: 10px;
}

.item li {
    width: 15%;
    padding: 10px;
}

.item li:not(:last-child) {
    border-right: 2px solid #ddd;
}

.item li:hover {
    background-color: #005CAC;
    transition: background-color .7s ease 0s;
}

.item li:hover a {
    color: #ddd;
    transition: color .2s ease 0s;
}

nav a {
    text-decoration: none;
    color: #005CAC;
}

.sns a {
    text-decoration: none;
    color: #000000;
}

/* ハンバーガーメニューのスタイル */
.hamburger-menu {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

/* ハンバーガーメニューのアイコンのスタイル */
.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 8px;
    transition: transform .2s;
}


/* activeクラスのスタイル */
.active .hamburger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.active .hamburger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


/* メニューのスタイル */
.menu {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    background-color: #f1f1f1;
}

.logo {
    width: 20%;
    height: 8vw;
    background-image: url(./pic/ロゴ.png);
    background-size: 95%;
    background-position: top right;
    background-repeat: no-repeat;
}

.sns {
    width: 100%;
}

.item {
    width: 100%;
}

/* activeクラスが付与されたときのメニューのスタイル */
.active+.menu {
    display: flex;

    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

/*フェードインアニメ*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* キービジュアル */
.keyvisual {
    margin: auto;
    margin-bottom: 46px;
    width: 100%;
    height: 50vw;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.keyvisual img {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.keyvisual::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background-image: url(./pic/wave.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.slide> :first-child {
    animation-name: slide-4;
    /* 作成したキーフレームを使う */
    animation-duration: 15s;
    /* アニメーション全体を5秒にする */
    animation-delay: 2s;
    /* 直ちにアニメーション開始する */
    animation-iteration-count: infinite;
    /* 永遠にアニメーションする */
    transition-timing-function: ease-in-out;
}

@keyframes slide-4 {
    0% {
        margin-left: 0;
    }

    33% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }

    100% {
        margin-left: -300%;
    }
}

.about {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    color: #005CAC;
}


.important {
    color: #da4d4d;
    background-color: #da4d4d2d;
    border-radius: 20px;
    width: 80vw;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
}

.important ul {
    margin: 0;
    padding: 0;
}

.important p {
    font-size: 2vw;
    margin: 0 0 15px 0;
    font-weight: bold;
}
.important li {
    list-style: none;
    text-align: left;
    font-size: 1.3vw;
    margin: 5px 0;
}

/*block要素*/
.content{
    width: 100%;
    margin: auto;
    text-align: center;
}
.content p {
    font-size: 2vw;
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
}
.wave img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/*本日の営業時間*/
.today-info{
    position: relative;
    padding-bottom: 84px;
    background-color: #b9d1e6;
}
.today-box{
    width: 80vw;
    margin: 1vw auto;
    background-color: #f1f1f1;
    color: #005CAC;
    border-radius: 20px;
    padding: 1vw;
    border: 3px solid #005CAC;
}
.today-box-title{
    background-color: #005CAC;
    color: #f1f1f1;
    border-radius: 10px;
}

.today-box-min{
    font-size: 1.5vw;
    font-weight:lighter;
}


/*イベント*/
.event{
    background-color: #778796;
}
/*料金*/
.price{
    background-color: #414a52;
}
/*フロアマップ*/
.factory-info{
    padding: 0 10%;
    position: relative;
    background-color: #22272b;
    color: #f1f1f1;
}
.factory-info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.factory-info li{
    width: 45%;
    margin: 20px 0;
}
.factory-info li p{
    background-color: #f1f1f1;
    display: inline-block;
    font-size: 2vw;
    padding: 15px 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #22272b;
}
.factory-info li img{
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 480px) {

    /* 480px以下に適用されるCSS（スマホ用） */
    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 12vw;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        justify-content: flex-start;
    }

    .logo {
        width: 30%;
        height: 12vw;
    }


    nav {
        height: 12vw;
    }

    nav li {
        text-align: center;
    }

    .sns {
        order: 1;
    }

    .sns li {
        width: 70%;
        text-align: left;
    }

    .sns li:not(:last-child) {
        border-bottom: 2px solid #ddd;
    }

    .item {
        order: 0;
    }

    .item li {
        width: 70%;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }

    .item li:not(:last-child) {
        border-right: none;
    }

    .hamburger-menu {
        display: flex;
    }


    h1 {
        font-size: 15px;
    }

    .important {
        padding: 10px;
        border-radius: 10px;
    }

    .important li {
        font-size: 3vw;
    }

    .important p {
        font-size: 15px;
    }
/*block要素*/
.content p {
    font-size: 6vw;
}

/*本日の営業時間*/
.today-info{
    padding-bottom: 84px;
}
.today-box{
    margin: 2vw auto;
    border-radius: 10px;
    padding: 2vw;
}
.today-box-title{
    border-radius: 5px;
}
.today-box-min{
    display:block;
    font-size: 15px;
}

    /*フロアマップ*/
.factory-info ul{
    display: block;
}
.factory-info li{
    width: 100%;
    margin: 20px 0;
}
.factory-info li p{
    font-size: 3vw;
}
.factory-info li img{
    border-radius: 10px;
}

}