body {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 500;
    padding-top: 8vw;
    font-size: 2vw;
    margin: 0;
    background-color: #f1f1f1;
}

h1 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
    margin: 0;
    padding-top: 30px;
}

h4 {
    font-size: 15px;
    margin: 0;
    padding: 10px 0 60px 0;
}

p {
    font-size: 30px;
}


header {
    position: relative;
    height: 100%;
    margin: 0 auto;
}

footer {
    position: relative;
    background-color: #2A6A65;
    text-align: center;
    color: #f1f1f1;
    padding: 5vw 0;
    font-size: 15px;
    font-weight: lighter;
}

.footer-box1 ul {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-box1 li {
    display: inline-block;
    min-width: 90px;
    padding: 7px;
}

.footer-box1 li:not(:last-child) {
    border-right: 2px solid #ddd;
}

.footer-box2 p {
    font-size: 15px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #f1f1f1;
    left: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

nav li {
    display: inline-block;
    min-width: 90px;
    padding: 7px;
    font-size: .9vw;
}

.sns li {
    width: auto;
}

.item li {
    width: 15%;
}

.item li:not(:last-child) {
    border-right: 2px solid #ddd;
}

.item li:hover {
    background-color: #2A6A65;
    transition: background-color .7s ease 0s;
}

.item li:hover a {
    color: #ddd;
    transition: color .2s ease 0s;
}

nav a {
    text-decoration: none;
    color: #2A6A65;
}

.sns a {
    text-decoration: none;
    color: #000000;
}

/* ハンバーガーメニューのスタイル */
.hamburger-menu {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}

/* ハンバーガーメニューのアイコンのスタイル */
.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 8px;
    transition: transform .2s;
}


/* activeクラスのスタイル */
.active .hamburger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.active .hamburger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}


/* メニューのスタイル */
.menu {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    background-color: #f1f1f1;
}

.logo {
    width: 18vw;
    height: 7vw;
    background-image: url(./pic/ロゴ.png);
    background-size: 95%;
    background-position: top right;
    background-repeat: no-repeat;
}

.sns {
    width: 100%;
}

.item {
    width: 100%;
}

/* activeクラスが付与されたときのメニューのスタイル */
.active+.menu {
    display: flex;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

/*フェードインアニメ*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* キービジュアル */
.keyvisual {
    margin: auto;
    margin-bottom: 46px;
    width: 100%;
    height: 43vw;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.slide img {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.keyvisual::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(./pic/wave.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.slide> :first-child {
    animation-name: slide-4;
    /* 作成したキーフレームを使う */
    animation-duration: 15s;
    /* アニメーション全体を5秒にする */
    animation-delay: 2s;
    /* 直ちにアニメーション開始する */
    animation-iteration-count: infinite;
    /* 永遠にアニメーションする */
    transition-timing-function: ease-in-out;
}

@keyframes slide-4 {
    0% {
        margin-left: 0;
    }

    33% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }

    100% {
        margin-left: -300%;
    }
}

.about {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    color: #2A6A65;
    text-align: center;
}


.important {
    color: #f86844;
    background-color: #f8684427;
    border-radius: 20px;
    width: 80vw;
    height: auto;
    text-align: center;
    margin: 40px auto 100px auto;
    padding: 20px 0;
}

.important ul {
    margin: 0;
    padding: 10px 0;
}

.important p {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.important li {
    width: 80%;
    text-align: left;
    font-size: 20px;
    margin: 5px auto;
}

/*block要素*/
.content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.content p {
    padding: 15px 0;
    margin: 0;
    font-weight: bold;
}

.wave img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*本日の営業時間*/
.today-info {
    position: relative;
    padding-bottom: 100px;
    color: #2A6A65;
}

.today-box {
    width: 80vw;
    margin: 0 auto 2vw auto;
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 1vw;
    border: 3px solid #2A6A65;
}

.today-box-title {
    background-color: #2A6A65;
    color: #f1f1f1;
    border-radius: 10px;
}

.today-box-text {
    font-size: 40px;
    color: #f86844;
}

.today-box-min {
    font-size: 15px;
    font-weight: lighter;
}


/*イベント*/
.event {
    background-color: #DAEAE9;
    position: relative;
    padding-bottom: 100px;
}

.event-box {
    margin: auto;
    position: relative;
    width: 80vw;
}

.bottom-box {
    width: 30vw;
    margin: 5vw auto;
    border-radius: 50px;
    color: #2A6A65;
    border: 2px solid #2A6A65;
    background-color: #f1f1f1;
}

.bottom-box p {
    font-size: 20px;
}

.slide2 {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

/*Google Chrome、Safariへの対応*/
.slide2::-webkit-scrollbar {
    display: none;
}

.event-box-item {
    width: 40%;
    padding: 0 50px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex: none;
}

.event-box-item p {
    padding: 0;
    text-align: left;
}

.slide2 img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.slide2-btn {
    &::scroll-button(right) {
        position: absolute;
        top: 40%;
        right: 0;
        content: ">" / "Scroll Right";
    }

    &::scroll-button(left) {
        position: absolute;
        top: 40%;
        left: 0;
        content: "<" / "Scroll Left";
    }

    &::scroll-button(*) {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #f1f1f1;
        background-color: #2A6A65;
        border: 1px solid #2A6A65;
    }

    &::scroll-button(*):hover {
        background-color: #22272b;
        border: 1px solid #22272b;
        color: #f1f1f1;
    }
}


/*料金*/
.price {
    background-color: #ABD0CD;
    position: relative;
    padding-bottom: 100px;
}


.price-box {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.price-box-item {
    width: 30%;
    margin: auto;
    border-radius: 20px;
    padding: 1vw;
    border: 3px solid #2A6A65;
    background-color: #f1f1f1;
}

.price-box-title {
    background-color: #2A6A65;
    color: #f1f1f1;
    border-radius: 10px;
    font-size: 20px;
}

.price-box-text {
    display: flex;
    justify-content: center;
    color: #2A6A65;
}

.price-box-text p {
    padding: 1vw;
    margin-top: 1vw;
}

.price-box-text p:not(:last-child) {
    border-right: 2px solid #2A6A65;
}

/*フロアマップ*/
.factory-info {
    padding: 0 10%;
    position: relative;
    background-color: #559691;
    color: #f1f1f1;
    padding-bottom: 100px;
}

.factory-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vw;
}

.factory-info li {
    width: 45%;
    margin: 20px auto;
}

.factory-info li p {
    background-color: #f1f1f1;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #559691;
}

.factory-info li img {
    width: 100%;
    border-radius: 20px;
}

/*見どころ*/
.highlights {
    position: relative;
    background-color: #559691;
    color: #f1f1f1;
    padding-bottom: 100px;
}
.highlights-box {
    margin: auto;
    position: relative;
    width: 80vw;
    background-color: yellowgreen;
}

.highlights-box-item {
    width: 100%;
    margin-bottom: 1vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #7a2727;
}

.highlights-box-A {
    width: 50%;
    background-color: #2A6A65;
    color: #f1f1f1;
}
.highlights-box-A-text{
    font-size: 20px;
}

.highlights-box-B {
    width: 45%;
    background-color: rgb(78, 78, 0);
}
.highlights-box-B img {
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 1265px) {

    h1 {
        font-size: 15px;
    }

    p {
        font-size: 20px;
    }

    /* 480px以下に適用されるCSS（スマホ用） */
    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 12vw;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        justify-content: flex-start;
    }

    .logo {
        width: 30vw;
        height: 12vw;
    }

    nav {
        height: 12vw;
    }

    nav li {
        text-align: center;
        font-size: 15px;
    }

    .sns {
        order: 1;
    }

    .sns li {
        width: 70%;
        text-align: left;
    }

    .sns li:not(:last-child) {
        border-bottom: 2px solid #ddd;
    }

    .item {
        order: 0;
    }

    .item li {
        width: 70%;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }

    .item li:not(:last-child) {
        border-right: none;
    }

    .hamburger-menu {
        display: flex;
    }




    .important {
        padding: 10px;
        border-radius: 10px;
    }


    /*block要素*/
    /*本日の営業時間*/

    .today-box {
        border-radius: 10px;
    }

    .today-box-title {
        border-radius: 5px;
    }

    .today-box-min {
        display: block;
    }

    .bottom-box {
        width: 60vw;
    }

    /*イベント*/


    .event-box-item {
        width: 65%;
        scroll-snap-align: center;
    }


    .slide2 img {
        border-radius: 10px;
    }


    /*料金*/


    .price-box {
        display: block;
    }

    .price-box-item {
        width: 100%;
        margin: 0 auto 10px auto;
        border-radius: 10px;
    }

    .price-box-text {
        display: flex;
        justify-content: center;
        color: #2A6A65;
    }

    .price-box-text p {
        padding: 10px;
        margin-top: 10px;
    }


    /*フロアマップ*/
    .factory-info ul {
        display: block;
    }

    .factory-info li {
        width: 100%;
        margin: 20px 0;
    }


    .factory-info li img {
        border-radius: 10px;
    }

    /*footer*/

    .footer-box1 ul {
        width: 100vw;
    }

    .footer-box1 li {
        min-width: 70px;
        padding: 5px;
    }

    .footer-box1 li:not(:last-child) {
        border-right: 1px solid #ddd;
    }

    .footer-box2 p {
        font-size: 10px;
    }

}